@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
/* general section */
*{
    margin:0;
    padding:0;
    font-family: "Pixelify Sans", sans-serif;
}
body{
    
    background-image: url(/images/cute\ back.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    background-image: url(/images/container.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(0 0 17px rgba(0,0,0,0.6));
    
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    margin: 0%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.titleSection {
    /*  
    width: 50%;
    max-width: 1000px;
    height: 50vh;
    transform:translate(50%,50%);
    padding: 0;
    margin:0;
    border: 4px solid black;

    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    width: 100%;
    max-width: 2000px;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container h3{
    color: rgb(255, 216, 250);
    text-align: center;
    font-size: 40px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
    transform: translateY(-40%);
}
.container h2{
    color: rgb(253, 129, 237);
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    transform: translateY(40%);
}

.button-1{ 

    border: none;
    background: transparent;
    cursor: pointer;
    transform: translateY(20%);

}
 .button-1 img{
    width: 8rem;
    background-size: cover;
    filter:drop-shadow( 0 6px 10px rgba(0, 0, 0, 0.6));

 }
  .button-1:hover img { 
    filter:drop-shadow( 0 8px 14px rgb(255, 0, 0));
    transform: scale(1.05);
  }
