@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
/* general section */
*{
    margin:0;
    padding:0;
    font-family: "Pixelify Sans", sans-serif;
}
body{
    
    background-image: url(/images/cute\ back.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    background-image: url(/images/container.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(10px 14px 20px rgba(94, 12, 69, 0.651));
    
    
    width: 100%;
    max-width: 1600px;
    height: 100vh;
    margin: 0%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    
}

.titleSection {
    /*  
    width: 50%;
    max-width: 1000px;
    height: 50vh;
    transform:translate(50%,50%);
    padding: 0;
    margin:0;
    border: 4px solid black;

    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
    width: 100%;
    max-width: 2000px;
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.container h3{
    color: rgb(255, 216, 250);
    text-align: center;
    font-size: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: translateY(-10%);
}
.container h2{
    /* font-family: Fredoka; */
    color: rgb(255, 228, 251);
    text-decoration-color: aqua;
    text-align: center;
    font-size: 6rem;
    text-shadow:  0 3px 4px rgb(255, 121, 244);
    transform: translateY(20%);
    
}

.button-1{ 

    border: none;
    background: transparent;
    cursor: pointer;
    transform: translateY(20%);

}
 .button-1 img{
    width: 8rem;
    background-size: cover;
    filter:drop-shadow( 5px 6px 6px rgba(255, 123, 213, 0.986));

 }
  .button-1:hover img { 
    filter:drop-shadow( 7px 8px 6px rgb(240, 113, 166));
    transform: scale(1.05);
  }
